simter-file:
  version: @project.version@
  rest-context-path: @simter-file.rest-context-path@
  base-data-dir: @simter-file.base-data-dir@
  # main dependency libraries version
  dependency-version:
    simter: @simter.version@
    kotlin: @kotlin.version@
    spring-framework: @spring-framework.version@
    spring-boot: @spring-boot.version@

module.authorization.simter-file:
  # the admin role identity, default 'ADMIN'
  admin-role: ADMIN
  # Default module access-control, mostly for admin permission.
  # See tech.simter.file.impl.ModuleConfiguration.defaultModuleAuthorizer(...) bean.
  # If without module.authorization.simter-file.modules config, fallback to use this.
  default:
    defaultPermission: "Allow"   # Allow|Deny
    #operations:
    #  READ.roles: ["ADMIN"]
    #  CREATE.roles: ["ADMIN"]
    #  UPDATE.roles: ["ADMIN"]
    #  DELETE.roles: ["ADMIN"]
  # All business modules access-control.
  # See tech.simter.file.impl.ModuleConfiguration.moduleAuthorizers(...) bean.
  # If without these config, fallback to use the upper default config.
  modules:
    # a sample for a business module-a access-control.
    # see tech.simter.reactive.security.properties.ModuleAuthorizeProperties
    module-a:
      defaultPermission: "Allow"   # Allow|Deny, default Deny
      operations:
        READ:
          roles: ["X_READ1", "X_READ2"]  # actual role identity
          strategy: "Or"                 # And|Or, default Or
        "[CREATE,UPDATE]":               # create or update
          roles: ["X_CREATE", "X_UPDATE"]
          strategy: "And"
        DELETE.roles: "X_DELETE"
    #module-b: ...
simter.jwt:
  secret-key: @simter.jwt.secret-key@
  require-authorized: @simter.jwt.require-authorized@
  exclude-paths: /static/
spring:
  main.banner-mode: 'off'
  profiles.active:
    - database
    - jpa-@db.jpa-implementation@
  application.name: @project.artifactId@-@project.version@
server:
  port: @server.port@
  servlet.context-path: /
  server-header: @project.artifactId@-@project.version@
logging:
  file: @logging.file@
  #pattern.dateformat: yyyy-MM-dd HH:mm:ss.SSS,GMT+8:00
  level: # TRACE < DEBUG < INFO < WARN < ERROR < FATAL < OFF
    root: ERROR
    tech.simter.file.starter: INFO # INFO - show active profiles and started time

    #---- spring ----#
    #org.springframework: WARN

    #---- spring-boot ----#
    #org.springframework.boot: WARN
    org.springframework.boot.context.embedded: TRACE
    org.springframework.boot.web.embedded.netty.NettyWebServer: INFO # INFO - show server port

    #---- spring reactive ----#
    #org.springframework.http.client.reactive: DEBUG
    #org.springframework.http.server.reactive: DEBUG
    #org.springframework.web.reactive: DEBUG # debug to show mapped and matches routes

    #---- reactor ----#
    #reactor.ipc.netty: DEBUG # debug to show request/response
